.side-nav-container {
  height: 300px;
  text-align: center;

  .login-join-container {
    display: flex;

    .login {
      flex: 1;
    }

    .join {
      flex: 1;
    }
  }

  .logo {
    padding: 20px;
  }

  .menu-container {

  }
}